/* 
    Document   : styles
    Created on : 12.12.2013, 14:55:51
    Author     : Tomy
    Description:
        Purpose of the stylesheet follows.
*/
body {
    width:100%;
    background: url("../images/bg.gif") repeat-x scroll left top #E9F6FF;
    font-family: sans-serif;
    font-size: 62.5%;
    line-height: 1.8em;
    padding-bottom:200px;
}
h1 {
    color:red;
    font-family: sans-serif;
    font-size:17px;
    padding-bottom: 5px;
}
h3{
    color:red;
    font-size:15px;
}
.info{
    border-bottom:1px solid red;
    padding-bottom:10px;
    margin-bottom:10px;
}
.menu{
    padding:5px;
    float:right;
    margin-right:20px;
}
table tr:first-child{
    font-weight:bold;
    border-bottom:1px solid black;
}
table tr td{
    padding:2px;
}
.continue{
    background-color: #387AAB;
    color:white;
    border-radius:20px;
    padding:10px;
    font-family: Calibri,sans-serif;
    line-height: 1.2em;
    font-size:17px;
    font-weight:bold;
    margin-top:30px;
}
.back{
    background-color: #ff6600;
    color:black;
    border-radius:20px;
    padding:10px;
    font-family: Calibri,sans-serif;
    line-height: 1.2em;
    font-size:17px;
    font-weight:bold;
    margin-top:30px;
}
.finalTable td{
    border:1px solid black;
    padding:10px;
    height:50px;
}
.mediuminput { 
    width:200px;
}
.logout{
    color: #387AAB;
    font-family: Calibri,sans-serif;
    line-height: 1.2em;
    font-size:17px;
    text-decoration:none;
    font-weight:bold;
    position:absolute;
    right:5%;

}

#header {
    background: url("../images/header.gif") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 265px;
    width: 990px;
    margin:0 auto;

}
.headerLeft{
    float: left;
    width: 500px;
    margin-top:50px;
}

#content{
    background: #FFFFFF;
    box-shadow: 0 0 10px #A9D6F6;
    color: #505050;
    font-size: 1.1em;
    line-height: 1.7em;
    padding: 20px 30px;
    position: relative;
    z-index: 1;
    margin:0 auto;
    margin-top:10px;
    width: 570px;
    height:auto;
    min-height: 300px;
    font-size:14px;
    overflow:hidden;
}
.headerLeft .logo {
    font-size: 1.9em;
    margin: 35px 0 0 15px;
    overflow: hidden;
}
.headerLeft .logo, .headerLeft .logo span {
    height: 49px;
    position: relative;
    width: 348px;
}

.headerLeft .logo span {
    background: url("../images/logo.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    left: 0;
    position: absolute;
    top: 0;
}
.headerLeft .logo a:hover span {
    cursor: pointer;
}
.headerRight {
    background: url("../images/header-img-border.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: right;
    height: 196px;
    position: relative;
    right: 15px;
    top: 14px;
    width: 412px;
}
.headerRight .image {
    background: url("../images/01.jpg")no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 196px;
    margin-left: 6px;
    margin-top:6px;
    left: 6px;
    top: 6px;
}
/*NOTIFICATION*/
.ad-notif-error, .ad-notif-success, .ad-notif-warn, .ad-notif-info {
    max-height: 50px;
    margin-bottom: 20px;
    border-radius: 3px;
    background: url(../images/notif-bg.jpg) repeat-x;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}
.ad-notif-error p, .ad-notif-success p, .ad-notif-warn p, .ad-notif-info p {
    color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.ad-notif-success { background-position: 0 0; border: 1px solid #71a100; }
.ad-notif-warn { background-position: 0 -50px; border: 1px solid #cbac00; }
.ad-notif-error { background-position: 0 -100px; border: 1px solid #c63434; }
.ad-notif-info { background-position: 0 -150px; border: 1px solid #308eef; }

.stdform p { margin: 15px 0; }
.stdform span.field, .stdform div.field { margin-left: 170px; display: block; position: relative; }
.stdform label { float: left; width: 150px; text-align: right; padding: 5px 20px 0 0; }
.error { 
    float: none; 
    color: #ff6600; 
    font-size: 13px; 
    display: block; 
    text-align: left; 
    font-weight: bold; 
}

.stdform input { 
    border: 1px solid #ccc; background: #fcfcfc; padding: 8px 5px; width: 300px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; 
    -moz-box-shadow: inset 1px 1px 2px #ddd; -webkit-box-shadow: inset 1px 1px 2px #ddd; box-shadow: inset 1px 1px 2px #ddd; color: #666; 
}
.stdform input:focus { background: #fff; -moz-box-shadow: inset 1px 1px 2px #eee; -webkit-box-shadow: inset 1px 1px 2px #eee; box-shadow: inset 1px 1px 2px #eee; }
.stdform .smallinput { width: 40%; }
.stdform .mediuminput { width: 60%; }
.stdform .longinput { width: 80%; }

.stdform textarea { 
    border: 1px solid #ccc; background: #fcfcfc; padding: 8px 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; 
    -moz-box-shadow: inset 1px 1px 2px #ddd; -webkit-box-shadow: inset 1px 1px 2px #ddd; box-shadow: inset 1px 1px 2px #ddd; color: #666;
}
.stdform textarea.error { border: 1px solid #ff6600; }

.stdform select { 
    border: 1px solid #ccc; padding: 7px 5px; min-width: 40%; background: #fcfcfc; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; 
    -moz-box-shadow: inset 1px 1px 2px #ddd; -webkit-box-shadow: inset 1px 1px 2px #ddd; box-shadow: inset 1px 1px 2px #ddd; color: #666;
}
.stdform select.error { border: 1px solid #ff6600; }

.stdform textarea:focus, .stdform select:focus { 
    background: #fff; -moz-box-shadow: inset 1px 1px 2px #eee; -webkit-box-shadow: inset 1px 1px 2px #eee; box-shadow: inset 1px 1px 2px #eee; 
}